/*
 * --------------------------------------------------------------------------
 * CONTAINERS
 * --------------------------------------------------------------------------
 */

$container-main-size: 40rem;

$container-background: rgba(
  $color: #fff,
  $alpha: 0.05,
);

$container-padding: 1.5rem;
