.drop-zone {
  display: none;
  font-size: xx-large;
  left: 0;
  top: 0;
  position: fixed;
  text-transform: uppercase;

  @include full-page-size();
  @include vertically-aligned-text();

  /**
   * Indicates a state, where the user is dragging something over the drop zone
   */
  &--ready-for-processing {
    display: block;

    @include background-dim();
    @include before-content('MAKE A NEW BEAR HUG');
  }

  &--working {
    display: block;

    @include background-dim();
    @include before-content('WORKING');
  }
}
